
{% set menu_selected = 'main_ajout_note' %}{% extends "dashboard_front.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Réclamer un service{% endblock %}
{% block content %}
    <!--************************************
				Inner Page Banner Start
		*************************************-->
    <div class="tg-innerpagebanner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pagetitle">
                        <h1>Profil</h1>
                    </div>
                    <ol class="tg-breadcrumb">
                        <li><a href="{{ path('front_homepage') }}">Accueil</a></li>
                        <li class="tg-active">Profil</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    {{ parent() }}
{% endblock %}
    {% block content_dashboard %}
        <style type="text/css">
            .rate-area {

                float: left;

                border-style: none;

            }



            .rate-area:not(:checked) > input {

                position: absolute;


                clip: rect(0,0,0,0);

            }



            .rate-area:not(:checked) > label {

                float: right;

                width: 1em;

                padding: 0 .1em;

                overflow: hidden;

                white-space: nowrap;

                cursor: pointer;

                font-size: 400%;

                line-height: 1.2;

                color: lightgrey;

                text-shadow: 1px 1px #bbb;

            }



            .rate-area:not(:checked) > label:before { content: '★ '; }



            .rate-area > input:checked ~ label {

                color: gold;

                text-shadow: 1px 1px #c60;

                font-size: 450% !important;

            }



            .rate-area:not(:checked) > label:hover, .rate-area:not(:checked) > label:hover ~ label { color: gold; }



            .rate-area > input:checked + label:hover, .rate-area > input:checked + label:hover ~ label, .rate-area > input:checked ~ label:hover, .rate-area > input:checked ~ label:hover ~ label, .rate-area > label:hover ~ input:checked ~ label {

                color: gold;

                text-shadow: 1px 1px goldenrod;

            }



            .rate-area > label:active {

                position: relative;

                top: 2px;

                left: 2px;

            }

        </style>

        <script type="text/javascript">
            function amount() {
                document.getElementById("montantscoin").value=(document.getElementById("scoin").value/2).toString().concat(" DT");
            }
        </script>
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
            <div id="tg-content" class="tg-content">
                <div class="tg-dashboard tg-dashboardprofilesetting">
                    <div class="tg-themeform">
                        <fieldset>
                            <div class="tg-dashboardbox tg-basicinformation">

                                <div class="tg-basicinformationbox">
                                    <div style="font-size: 30px; text-align: center;">
                                        <div class="tg-sectionhead">

                                        </div>
                                    </div>
                                    <div class="tg-sectiontitle">
                                        <br>
                                        <br>
                                        <h2>Votre note est importante pour nous</h2>
                                    </div>
                                    <div class="tg-contactusarea">
                                        <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-10 col-lg-push-1">
                                            <form class="tg-themeform" method="post">
                                                <fieldset>
                                                    <div class="row">
                                                        <br>
                                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="width: 700px; padding-left: 200px"  >
                                                            <div class="form-group">
                                                                <ul class="rate-area" style="align-content: center">


                                                                    {% if note is not defined %}

                                                                                <ul class="rate-area" style="align-content: center">

                                                                                    <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" title="Amazing">5 stars</label>

                                                                                    <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star" title="Good">4 stars</label>

                                                                                    <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star" title="Average">3 stars</label>

                                                                                    <input type="radio" id="2-star" name="rating" value="2" /><label for="2-star" title="Not Good">2 stars</label>

                                                                                    <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star" title="Bad">1 star</label>

                                                                                </ul>

                                                                    {% elseif note[0].note==1 %}

                                                                                <ul class="rate-area" >

                                                                                    <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" title="Amazing">5 stars</label>

                                                                                    <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star" title="Good">4 stars</label>

                                                                                    <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star" title="Average">3 stars</label>

                                                                                    <input type="radio" id="2-star" name="rating" value="2" /><label for="2-star" title="Not Good">2 stars</label>

                                                                                    <input type="radio" id="1-star" name="rating" value="1" checked/><label for="1-star" title="Bad">1 star</label>

                                                                                </ul>

                                                                    {% elseif note[0].note==2 %}

                                                                                <ul class="rate-area" style="align-content: center">

                                                                                    <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" title="Amazing">5 stars</label>

                                                                                    <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star" title="Good">4 stars</label>

                                                                                    <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star" title="Average">3 stars</label>

                                                                                    <input type="radio" id="2-star" name="rating" value="2" checked /><label for="2-star" title="Not Good">2 stars</label>

                                                                                    <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star" title="Bad">1 star</label>

                                                                                </ul>

                                                                    {% elseif note[0].note==3 %}

                                                                                <ul class="rate-area" style="align-content: center">

                                                                                    <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" title="Amazing">5 stars</label>

                                                                                    <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star" title="Good">4 stars</label>

                                                                                    <input type="radio" id="3-star" name="rating" value="3" checked/><label for="3-star" title="Average">3 stars</label>

                                                                                    <input type="radio" id="2-star" name="rating" value="2"  /><label for="2-star" title="Not Good">2 stars</label>

                                                                                    <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star" title="Bad">1 star</label>

                                                                                </ul>

                                                                    {% elseif note[0].note==4 %}

                                                                                <ul class="rate-area" style="align-content: center">

                                                                                    <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" title="Amazing">5 stars</label>

                                                                                    <input type="radio" id="4-star" name="rating" value="4" checked/><label for="4-star" title="Good">4 stars</label>

                                                                                    <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star" title="Average">3 stars</label>

                                                                                    <input type="radio" id="2-star" name="rating" value="2"  /><label for="2-star" title="Not Good">2 stars</label>

                                                                                    <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star" title="Bad">1 star</label>

                                                                                </ul>

                                                                    {% elseif note[0].note==5 %}

                                                                                <ul class="rate-area" style="align-content: center">

                                                                                    <input type="radio" id="5-star" name="rating" value="5" checked /><label for="5-star" title="Amazing">5 stars</label>

                                                                                    <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star" title="Good">4 stars</label>

                                                                                    <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star" title="Average">3 stars</label>

                                                                                    <input type="radio" id="2-star" name="rating" value="2"  /><label for="2-star" title="Not Good">2 stars</label>

                                                                                    <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star" title="Bad">1 star</label>

                                                                                </ul>

                                                                    {% endif %}

                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 140px">
                                                            <div class="form-group">
                                                                <textarea placeholder="Description" name="Description">{% if note is not defined %} {% else %} {{ note[0].Description }} {% endif %}</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="padding-left: 140px">
                                                            <div class="form-group">
                                                                <input type="radio"> Non Satisfait
                                                                <input type="radio"> Moyennement Satisfait
                                                                <input type="radio"> Totalement Satisfait

                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 140px">
                                                            <button type="submit" class="tg-btn">Valider</button>
                                                            <a type="submit" class="tg-btn">Retour à la page d'accueil</a>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
