{% extends "back.html.twig" %}
{% block content %}
    <main class="content">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Ajouter outil</h5>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputNom">Nom</label>
                                <input type="text" class="form-control" name="inputNom" placeholder="nom de l'outil">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputQuantite">Quantité</label>
                                <input type="text" class="form-control" name="inputQuantite" placeholder="quantité">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDuree">La durée maximale</label>
                            <input type="text" class="form-control" name="inputDuree" placeholder="la durée maximale de location">
                        </div>
                        <div class="form-group">
                            <label for="inputPrix">Prix en Scoin</label>
                            <input type="text" class="form-control" name="inputPrix" placeholder="le prix de location de l'outil par jour">
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputAdresse">Adresse</label>
                                <input type="text" class="form-control" name="inputAdresse" placeholder="Adresse">
                            </div>
                            <div class="form-group">
                                <label for="inputCodePostal">Code postal</label>
                                <input type="text" class="form-control" name="inputCodePostal" placeholder="Code postal">
                            </div>
                            <div class="form-group">
                                <label for="inputVille">Ville</label>
                                <input type="text" class="form-control" name="inputVille" placeholder="Ville">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label w-100">Ajouter une image</label>
                            <input type="file" name="inputImage" >
                        </div>

                            <div class="form-group col-md-4">
                                <label for="inputCategorie">Categorie</label>
                                <select name="inputCategorie" class="form-control">
                                    {% for c in categorie %}
                                        <option value="{{ c.id }}">
                                            {{ c.nom }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        <button type="submit" class="btn btn-primary">Confirmer</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

{% endblock %}