{% extends "back.html.twig" %}
{% block content %}
    <main class="content">
        <div class="container-fluid p-0">

            <h1 class="h3 mb-3">modifier une catégorie de service</h1>

            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="card">

                        <div class="card-body">
                            <form method="POST">

                                <div class="form-group">
                                    <label class="form-label">Nom</label>
                                    <input type="text" class="form-control" name="Nom" value="{{ categorie.nom }}">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Description</label>
                                    <input type="text" class="form-control" name="Description" value="{{ categorie.description }}">
                                </div>

                                <button type="submit" class="btn btn-primary">Valider</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

{% endblock %}