{% set menu_selected = 'ajouterAnnonce' %}{% extends "dashboard_front.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Choix confirmé{% endblock %}
{% block content %}
    <!--************************************
				Inner Page Banner Start
		*************************************-->
    <div class="tg-innerpagebanner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pagetitle">
                        <h1>Profil</h1>
                    </div>
                    <ol class="tg-breadcrumb">
                        <li><a href="{{ path('front_homepage') }}">Accueil</a></li>
                        <li class="tg-active"><a href="{{ path('listeAnnonce') }}"> Mes Annonces </a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    {{ parent() }}
{% endblock %}
    {% block content_dashboard %}
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
            <div id="tg-content" class="tg-content">
                <div class="tg-dashboard tg-dashboardprofilesetting">
                    <div class="tg-themeform">
                        <fieldset>
                            <div class="tg-dashboardbox tg-basicinformation">

                                <div class="tg-basicinformationbox">

                                    <div class="tg-sectiontitle">
                                        <br>
                                        <br>

                                        <h2>Votre choix est enregistré</h2>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
    {% endblock %}
        </div>