{% extends "back.html.twig" %}
{% block title %}Ajouter categorie Produit{% endblock %}
{% block content %}
    <main class="content">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Ajouter catégorie produit</h5>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">

                        <div class="form-group col-md-2">
                            <label for="inputZip">Nom</label>
                            <input type="text" class="form-control" name="categorie">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Description</label>
                            <input type="text" class="form-control" name="description">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Image</label>
                            <input type="file" name="inputImage">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

{% endblock %}