back_homepage:
  path:     /admin/index
  defaults: { _controller: BackBundle:Default:index }
admin_login:
  path:     /admin/login
  defaults: { _controller: UserBundle:Security:login }
admin_index:
  path:     /admin
  defaults: { _controller: UserBundle:Security:login }
login:
  path:     /login
  defaults: { _controller: UserBundle:Security:login }
login_check:
  path:     /login_check
  defaults: { _controller: UserBundle:Security:login }
register:
  path:     /register/
  defaults: { _controller: UserBundle:Registration:register }
logout:
  path:     /logout
  defaults: { _controller: UserBundle:Security:logout }
users_list:
  path:     /admin/listuser
  defaults: { _controller: BackBundle:Admin:list }
users_solde:
  path:     /admin/listSolde
  defaults: { _controller: BackBundle:Paiement:list }
admin_langues:
  path:     /admin/langues
  defaults: { _controller: BackBundle:Langue:list }
back_supprimerLangue:
  path:     /admin/supprimerLangue/{id}
  defaults: { _controller: BackBundle:Langue:supprimer }
back_ajouterLangue:
  path:     /admin/ajouterLangue
  defaults: { _controller: BackBundle:Langue:ajouter }
paiement_historique:
  path:     /admin/historiquePaiement/{id}
  defaults: { _controller: BackBundle:Paiement:historiqueUser }
user_upgrade:
  path:     /admin/upgrade/{id}
  defaults: { _controller: BackBundle:Admin:upgrade }
user_downgrade:
  path:     /admin/downgrade/{id}
  defaults: { _controller: BackBundle:Admin:downgrade }
registration_confirmed:
  path:     /register/confirmed
  defaults: { _controller: UserBundle:Registration:confirmed }
ajouter_service:
  path:     /service/ajouter
  defaults: { _controller: BackBundle:CategorieService:confirmed }


  #############routing ali######################
main_ajouterCategori_Produit:
  path:    /admin/ajouterCategorieProduits
  defaults: { _controller: BackBundle:CategorieProduit:ajouter }
List_Produit:
  path:   /admin/listProduit
  defaults: { _controller: BackBundle:CategorieProduit:listeProduit }
supprimerProduit:
  path:   admin/supprimerProduit/{prod}
  defaults: { _controller: BackBundle:CategorieProduit:SupprimerProduit }

back_ListAchat_Produit:
  path:    /admin/ListAchat
  defaults: { _controller: BackBundle:CategorieProduit:ListeAchat }
main_listCategorie_Produit:
  path:    /admin/listCategorieProduits
  defaults: { _controller: BackBundle:CategorieProduit:lister }
main_supprimerCategorie_Produit:
  path:    /admin/supprimerCategorieProduits/{cat}
  defaults: { _controller: BackBundle:CategorieProduit:supprimer }
main_modifierCategorie_Produit:
  path:    /admin/modfierCategorieProduits/{cat}
  defaults: { _controller: BackBundle:CategorieProduit:modifier }
  ########################################end routing of ali ################


############################ ROUTING DE MUSTAPHA PLEASE DON'T TOUCH #######################
main_liste_reclamation_admin:
  path:     /admin/listeReclamation
  defaults: { _controller: BackBundle:ReclamationBack:ListeReclamationAdmin }
main_liste_reclamation_traite:
  path:     /admin/listeReclamationtraite
  defaults: { _controller: BackBundle:ReclamationBack:afficherReclamationTraite }
main_liste_reclamation_archive:
  path:     /admin/listeReclamationarchive
  defaults: { _controller: BackBundle:ReclamationBack:afficherReclamationArchive }
main_change_status_reclamation:
  path:     /admin/detaillerec/{rec}
  defaults: { _controller: BackBundle:ReclamationBack:detaillerecadmin }
main_traite_reclamation_admin:
  path:     /admin/traite/{rec}
  defaults: { _controller: BackBundle:ReclamationBack:traiteadmin }
main_supprimer_reclamation_admin:
  path:     /admin/supp/{rec}
  defaults: { _controller: BackBundle:ReclamationBack:supprimeradmin }
main_afficher_note_admin:
  path:     /admin/Avis
  defaults: { _controller: BackBundle:AvisBack:AvisStatistics }
  ############################        END ROUTING DE MUSTAPHA         #######################
  #############################  ROUTING ACHREF ######################################
liste_annonce:
  path:     /admin/annonce
  defaults: { _controller: BackBundle:Annonce:afficher }
candidat:
  path:     /admin/candidats/{id}
  defaults: { _controller: BackBundle:Annonce:candidat }
supprimer_annonce:
  path:     /admin/annonce/{id}
  defaults: { _controller: BackBundle:Annonce:supprimer }
supprimer_candidature:
  path:     /admin/candidature/{id}
  defaults: { _controller: BackBundle:Candidature:supprimer }
listeCandidature:
  path:     /admin/candidature
  defaults: { _controller: BackBundle:Annonce:afficher }
  ############################        END ROUTING DE ACHREF         #######################
################# ROUTING DE Sl-Wassim PLEASE DON'T TOUCH #####################
back_ajouterCategorieOutil:
  path: /admin/ajouterCategorieOutil
  defaults: { _controller: BackBundle:CategorieOutil:ajouter }
back_listCategorieOutil:
  path: /admin/listCategorieOutil
  defaults: { _controller: BackBundle:CategorieOutil:liste }
back_modifierCategorieOutil:
  path: /admin/modifierCategorieOutil
  defaults: { _controller: BackBundle:CategorieOutil:modifier }
back_supprimerCategorieOutil:
  path: /admin/supprimerCategorieOutil
  defaults: { _controller: BackBundle:CategorieOutil:supprimer }
back_ajouterOutil:
  path: /admin/ajouterOutil
  defaults: { _controller: BackBundle:Outil:ajouter }
back_listOutil:
  path: /admin/listOutil
  defaults: { _controller: BackBundle:Outil:liste }
back_modifierOutil:
  path: /admin/modifierOutil
  defaults: { _controller: BackBundle:Outil:modifier }
back_supprimerOutil:
  path: /admin/supprimerOutil
  defaults: { _controller: BackBundle:Outil:supprimer }
back_outilLoues:
  path: /admin/outilLoues
  defaults: { _controller: BackBundle:Outil:outilLoues }
back_retournerOutil:
  path: /admin/retournerOutil
  defaults: { _controller: BackBundle:Outil:retourner }
back_historique:
  path: /admin/historique
  defaults: { _controller: BackBundle:Outil:historique }
############################ END ROUNTING DE Sl-Wassim ##########################
########################### Routing de Slim PLEASE DON'T TOUCH ####################
back_ajouterCategorieService:
  path: /admin/ajouterCategorieService
  defaults: { _controller: BackBundle:CategorieService:ajouter }

back_afficherCategorieService:
  path: /admin/afficherCategorieService
  defaults: { _controller: BackBundle:CategorieService:afficher }
back_modifierCategorieService:
  path: /admin/modifierCategorieService/{id}
  defaults: { _controller: BackBundle:CategorieService:modifier }
back_supprimerCategorieService:
  path: /admin/supprimerCategorieService/{id}
  defaults: { _controller: BackBundle:CategorieService:supprimer }

back_ajouterService:
  path: /admin/ajouterService
  defaults: { _controller: BackBundle:Service:ajouter }
back_afficherService:
  path: /admin/afficherService
  defaults: { _controller: BackBundle:Service:afficher }
back_modifierService:
  path: /admin/modifierService/{id}
  defaults: { _controller: BackBundle:Service:modifier }
back_supprimerService:
  path: /admin/supprimerService/{id}
  defaults: { _controller: BackBundle:Service:supprimer }

back_afficherServiceProposes:
  path: /admin/afficherServiceProposes
  defaults: { _controller: BackBundle:Service:afficherProposition }
back_etudeProposition:
  path: /admin/afficherServiceProposes/{id}
  defaults: { _controller: BackBundle:Service:etudierProposition }
back_ajouterProposition:
  path: /admin/ajouterServiceProposes/{id}
  defaults: { _controller: BackBundle:Service:ajouterProposition }
back_historiqueService:
  path: /admin/historiqueService
  defaults: { _controller: BackBundle:Service:afficherHistorique }
back_recupererHistorique:
  path: /admin/recupererHistoriqueService/{id}/{idh}
  defaults: { _controller: BackBundle:Service:recupererHistorique }
back_supprimerProposiion:
  path: /admin/supprimerProposition/{id}
  defaults: { _controller: BackBundle:Service:supprimerProposition }



########################### END Routing de Slim ######################################