{% extends "dashboard_front.html.twig" %}{% set menu_selected='profile_setting' %}
{% block content %}
<main id="tg-main" class="tg-main tg-paddingzero tg-haslayout">
    <!--************************************
            Login Register Start
    *************************************-->
    <div class="tg-main-section tg-haslayout">
        <div class="container">
            <div class="row">
                <div id="tg-content" class="tg-content">
                    <form class="tg-themeform tg-formlogin-register" method="POST" action="{{ path('front_proposerServiceUser') }}">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <div class="tg-heading">
                                <h2>Proposer un service</h2>
                            </div>
                            <fieldset>
                                <div class="tg-themetabcontent tab-content">
                                    <div class="tab-pane active fade in" id="regularuser">


                                        <div class="form-group">
                                            <input type="text" name="DescriptionService" class="form-control" placeholder="Decrire le Service" value="">

                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="NomService" class="form-control" placeholder="Nom du service" value="">
                                        </div>
                                            <div class="form-group">
                                                <select class="form-control" name="IdCat">
                                                {% for c in categorie %}
                                                    <option value="{{ c.nom }}">{{ c.nom }}</option>
                                                {% endfor %}
                                                </select>
                                            </div>
                                        <div class="form-group">
                                            <input type="number" name="prixService" class="form-control" placeholder="prix" value="">
                                        </div>

                                        <button class="tg-btn" type="submit">Envoyer</button>

                                    </div>

                                </div>
                            </fieldset>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Login Register End
    *************************************-->
</main>
{% endblock %}