{% extends "dashboard_front.html.twig" %}{% set menu_selected='profile_setting' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Paramètres du compte{% endblock %}
{% block content %}
    <script>
        setTimeout(function () {
            window.location.href= '{{ path("profile_setting") }}'; // the redirect goes here

        },5000);
    </script>
    <!--************************************
				Inner Page Banner Start
		*************************************-->
    <div class="tg-innerpagebanner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pagetitle">
                        <h1>Paramètres du compte</h1>
                    </div>
                    <ol class="tg-breadcrumb">
                        <li><a href="{{ path("front_homepage") }}">Accueil</a></li>
                        <li class="tg-active">Paiement</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
 {{ parent() }}
{% endblock %}
    {% block content_dashboard %}
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
            <div id="tg-content" class="tg-content">
                <div class="tg-dashboardsecuritysetting">
                    <p>
                    Merci pour votre confiance, votre paiement a bien été reçu, votre solde en SCoin va changer dans quelque instants
                    </p>
                </div>
            </div>
        </div>
        {% endblock %}
