{% extends "dashboard_front.html.twig" %}{% set menu_selected='profile_setting' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Paramètres du compte{% endblock %}
{% block content %}
    <!--************************************
				Inner Page Banner Start
		*************************************-->
    <div class="tg-innerpagebanner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pagetitle">
                        <h1>Paramètres du compte</h1>
                    </div>
                    <ol class="tg-breadcrumb">
                        <li><a href="{{ path("front_homepage") }}">Accueil</a></li>
                        <li class="tg-active">Paiement</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
 {{ parent() }}
{% endblock %}
    {% block content_dashboard %}
        <script>
            $(document).ready(function () {
                $('#payer').trigger('click');
            })
        </script>
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
            <div id="tg-content" class="tg-content" style="text-align: center">
                <div class="tg-dashboardsecuritysetting" style="display: inline-block; margin-left: auto; margin-right: auto;">
                    <form method="POST">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_q7Dy8VDhH4I9kRddnDfGQ842"
                                data-amount="{{ scoin*100 }}"
                                data-name="FixIt"
                                data-description="Paiement"
                                data-currency="tnd"
                                data-locale="fr">
                        </script>
                        <script>
                            // Hide default stripe button, be careful there if you
                            // have more than 1 button of that class
                            document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                        </script>
                        <input type="hidden" name="app" value="1">
                        <input type="hidden" name="scoin" value="{{ scoin*100 }}">
                        <button class="tg-btn" id="payer" type="submit">Payer</button>
                    </form>
                </div>
            </div>
        </div>
        {% endblock %}
